<%= link_to "グループを作成", new_user_group_path(user_id: current_user.id) %>

<div class="row mt-3">
    <div class="col-md-8 offset-md-1">
     <h2>Group</h2>
      <table class="table table-hover">
       <thead>
           <tr>
            <th></th>
            <th>グループ</th>
            <th>紹介</th>
            <th></th>
           </tr>
       </thead>
        <tbody>
        <% @groups.each do |group| %>
           <tr>
               <td>
                 <%= image_tag group.get_group_image(100,100) %>
               </td>
               <td>
                 <!--<%= link_to  do %>-->
                   <%= group.name %>
                 <!--<% end %>-->
                </td>
               <td>
                 <!--<%= link_to  do %>-->
                   <%= group.introduction %>
                 <!--<% end %>-->
               </td>
               <td>
                 <% if group.owner == current_user %>
                  <%= link_to user_group_path(user_id: group.owner_id, id: group.id) do %>
                  編集する
                  <% end %>
                 <% end %>
               </td>
           </tr>
        <% end %>
       </tbody>
      </table>
    </div>
  </div>