<div class='row mt-5 ml-5'>
  <div class="col-3 font-weight-bold bg-secondary text-light text-center">
    <h3 class="mt-2 mb-2" style="text-decoration:underline;">ログ編集</h3>
  </div>
</div>


<div class='row mt-5'>
  <div class="col-6 mx-auto">
    <%= form_with model: @log, url: user_instrument_log_path, method: :patch, local: true do |f| %>
      <%= render 'shared/errors', obj: @log %>
      <div class="form-group">
        <%= f.label :日付 %>
        <%= f.date_field :date, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :ログ %>
        <%= f.text_area :log, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.submit :編集,class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>

      <div class='row'>
      <div class="ml-auto">
      <%= button_to '削除', user_instrument_log_path(user_id: current_user.id, instrument_id: params[:instrument_id], id: params[:id]), method: :delete, class: "btn btn-danger" %>
      </div>
      </div>

  </div>