<div class="row justify-content-center">
  <%= inactive_user_message(@user) %>
</div>

<div class="row">
  <div class="col-4">
    <div class="col-12">
      <%= render 'shared/user_info' %>
    </div>
  </div>
  <div class="col-8">
    <!--日誌詳細-->
    <div class="row border border-secondary p-2">
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-1 p-0">
            <%= link_to admin_user_path(id: @user) do %>
              <%= image_tag @user.get_profile_image(50, 50) %>
            <% end %>
          </div>
          <div class="col-4 p-0" style="text-decoration:underline;">
            <%= link_to admin_user_path(id: @user) do %>
              <%= @user.name %><br>
            <% end %>
            <%= @diary.date %>
          </div>
          <div class="col-7 text-right">
            <% @diary.tag_list.each do |tag| %>
              <%= link_to admin_user_path(id: @user, tag_name: tag, filtered_by_tag: true), class: 'btn btn-secondary' do %>
                <%= tag %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        <div class="col-12">
          <div class="row justify-content-center">
            タイトル：<%= @diary.title %>
          </div>
          <div class="row justify-content-center">
            楽器：<%= @diary.instrument.name %>
          </div>

          <div class="row">
            <%= display_diary_image(@diary, 100, 100) %>
          </div>
          <div class="row">
            <%= @diary.text %>
          </div>
        </div>
    </div>
    <!--いいねボタン/いいねカウント-->
    <div class="row mt-2 justify-content-end">
      <%= favorite_diary_link(@diary, @user) %>
    </div>
    <!--コメント表示-->
    <% if @diary.post_comments.present? %>
      <% @diary.post_comments.each do |post_comment| %>
        <div class="card border-secondary mb-2">
          <div class="card-body">
            <div class="d-flex">
              <div class="col-1 p-0">
                <%= link_to admin_user_path(id: @user) do %>
                  <%= image_tag post_comment.user.get_profile_image(50,50) %>
                <% end %>
              </div>
              <div class="col-8 p-0" style="text-decoration:underline;">
                <%= link_to admin_user_path(id: @user) do %>
                  <%= post_comment.user.name %><br>
                <% end %>
                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
              </div>
              <div class="ml-4">
                <%= link_to admin_user_diary_post_comment_path(user_id: post_comment.diary.user.id, diary_id: post_comment.diary.id, id: post_comment.id), method: :delete, class: "btn btn-danger", data: { confirm: "本当にこのコメントを削除しますか？" } do %>
                  コメントを削除
                <% end %>
              </div>
            </div>
            <div class="text-right font-weight-bold">
            <%= post_comment.comment %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
