<div class="row justify-content-center">
  <%= inactive_user_message(@user) %>
</div>

<div class="row justify-content-center">
    <h3><%= @user.goal %></h3>
</div>

<div class="row">
  <div class="col-4">
    <div class="col-12">
      <%= render 'shared/user_info' %>
    </div>
  </div>

  <div class="col-8">
    <div class="row">
      <div class= "col-12">
        <div class="row d-flex">
          <h2 class="m-0">コメント一覧</h2>
          <div class="ml-2">
            <%= link_to admin_user_path(@user), class: "btn btn-info" do %>
            日誌一覧
            <% end %>
          </div>
        </div>
      <table class="table table-hover">
        <thead>
          <tr>
          <th>ユーザー</th>
          <th>コメント</th>
          <th>コメント先</th>
          </tr>
        </thead>
        <tbody>
          <% @post_comments.each do |post_comment| %>
          <tr>
            <td>
              <%= link_to admin_user_path(@user) do %>
                <%= image_tag post_comment.user.get_profile_image(50,50) %><br>
                <%= post_comment.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_path(@user) do %>
                <%= post_comment.comment %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_diary_path(user_id: post_comment.diary.user_id, id: post_comment.diary_id) do %>
                ユーザー：<%= post_comment.diary.user.name %><br>
                タイトル：<%= post_comment.diary.title %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/user_status' %>