<div class='row'>
  <div class="col-5 px-5 px-0 mx-auto">
    <%= form_with model: @diary, url: user_diary_path, method: :patch, local: true do |f| %>
      <%= render 'layouts/errors', obj: @diary %>

      <div class="form-group">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control date" %>
      </div>
      <div class="form-group">
        <%= f.label :instrument %>
        <%= f.select :instrument, Instrument.all.map { |i| [i.name, i.id] }, class: "form-control instrument", include_blank: '選択してください', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :diary_image, multiple: true, class: "form-control-file diary_image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control title" %>
      </div>
      <div class="form-group">
        <%= f.label :text %>
        <%= f.text_area :text, class: "form-control text" %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>
      <div class="form-group">
        <%= link_to user_diary_path(user_id: current_user.id, id: params[:id]), method: :delete, data: {confirm: "削除しますか？"} do %>
        日誌を削除
        <% end %>
      </div>
  </div>
</div>
