<div class="row mt-3">
    <div class="col-md-8 offset-md-1">
     <h2>Diary</h2>
      <table class="table table-hover">
       <thead>
           <tr>
            <th></th>
            <th>楽器</th>
            <th>日付</th>
            <th>タイトル</th>
            <th>本文</th>
           </tr>
       </thead>
        <tbody>
        <% @diaries.each do |diary| %>
           <tr>
               <td>
                 <%= image_tag diary.user.get_profile_image(100,100) %>
               </td>
               <td>
                 <%= link_to user_instrument_path(user_id: diary.user_id, id: diary.instrument.id) do %>
                   <%= diary.instrument.name %>
                 <% end %>
                </td>
               <td><%= diary.date %></td>
               <td>
                 <%= link_to user_diary_path(user_id: diary.user_id, id: diary.id) do %>
                   <%=truncate(diary.title, length: 20)%>
                 <% end %>
                </td>
               <td>
                 <%= link_to user_diary_path(user_id: diary.user_id, id: diary.id) do %>
                   <%=truncate(diary.text, length: 20)%>
                 <% end %>
                </td>
           </tr>
        <% end %>
       </tbody>
      </table>
    </div>
  </div>