<% if params[:filtered_by_tag] || params[:search].present? %>
  <h2>
    <% if params[:filtered_by_tag] %>
      タグ検索：<%= params[:tag_name] %>
    <% elsif params[:search].present? %>
      検索結果：キーワード - <%= params[:search] %>
    <% end %>
  </h2>
  <div>
    <%= button_to '一覧に戻る', user_diaries_path(user_id: current_user.id), method: :get, class: "btn btn-info" %>
  </div>
<% end %>


<div class="row mt-3">
    <div class="col-10 mx-auto">
      <div class="d-flex justify-content-between align-items-center">
     <h2 class="m-0">日誌</h2>
       <div class="search_form">
      <%= form_with url: search_user_diaries_path(current_user), method: :get do |f| %>
        <%= f.text_field :search, placeholder: "キーワード検索" %>
        <!--%= f.submit "Search", class: "btn btn-info" %>-->
          <%= f.button class: "btn btn-info" do %>
        <i class="fas fa-search"></i>
      <% end %>
      <% end %>
      </div>
     </div>

      <table class="table table-hover">
       <thead>
           <tr>
            <th></th>
            <th>楽器</th>
            <th>日付</th>
            <th>タグ</th>
            <th>タイトル</th>
           </tr>
       </thead>
        <tbody>
        <% @diaries.each do |diary| %>
           <tr>
               <td>
                 <%= image_tag diary.user.get_profile_image(100,100) %><br>
                 <%=  diary.user.name %>
               </td>
               <td>
                 <%= link_to user_instrument_path(user_id: diary.user_id, id: diary.instrument.id) do %>
                   <%= diary.instrument.name %>
                 <% end %>
                </td>
               <td><%= diary.date %></td>
               <td><%= render 'public/diaries/tag_list', tag_list: diary.tag_list %></td>
               <td>
                 <%= link_to user_diary_path(user_id: diary.user_id, id: diary.id) do %>
                   <%= diary.title %>
                 <% end %>
               </td>
           </tr>
        <% end %>
       </tbody>
      </table>
    </div>
  </div>