<!--楽器の登録がない場合、登録の案内とリンクを表示-->
<%= instruments_required_message(@user) %>

<div class='row mt-5 ml-5'>
  <div class="col-3 font-weight-bold bg-secondary text-light text-center">
    <h3 class="mt-2 mb-2" style="text-decoration:underline;">日誌を投稿</h3>
  </div>
</div>

<div class='row mt-5'>
  <div class="col-6 mx-auto">
    <%= form_with model: @diary, url: user_diaries_path, method: :post, local: true do |f| %>
      <%= render 'shared/errors', obj: @diary %>

      <div class="form-group">
        <%= f.label :日付 %>
        <%= f.date_field :date, class: "form-control date" %>
      </div>
      <div class="form-group">
        <%= f.label :楽器 %>
        <%= f.select :instrument, current_user.instruments.map { |i| [i.name, i.id] }, class: "form-control instrument", include_blank: '選択してください', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :写真 %>
        <%= f.file_field :diary_image, class: "form-control-file diary_image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :タグ %>(","で区切る)
        <%= f.text_field :tag_list, value: @diary.tag_list.join(','), class:"form-control tag_list" %>
      </div>
      <div class="form-group">
        <%= f.label :タイトル %>
        <%= f.text_field :title, class: "form-control title" %>
      </div>
      <div class="form-group">
        <%= f.label :本文 %>
        <%= f.text_area :text, class: "form-control text" %>
      </div>
      <div class="form-group">
        <%= f.submit :投稿,class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>