<div>
    <% if @diary.diary_image.attached? %>
        <%= image_tag @diary.get_diary_image(100, 100) %>
    <% end %>
</div>
<div>
    <%= @diary.date %>
</div>
<div>
    <%= @diary.title %>
</div>
<div>
    <%= @diary.text %>
</div>

<% if user_signed_in? %>
    <%= link_to edit_user_diary_path(user_id: current_user, id: @diary) do %>
    編集する
    <% end %>
<% end %>

<% if @diary.favorited_by?(current_user) %>
  <p>
    <%= link_to user_diary_favorite_path(user_id: @user, diary_id: @diary), method: :delete do %>
      ♥<%= @diary.favorites.count %> <i class="fas fa-thumbs-up"></i>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to user_diary_favorite_path(user_id: @user, diary_id: @diary), method: :post do %>
      ♡<%= @diary.favorites.count %> <i class="fas fa-thumbs-up"></i>
    <% end %>
  </p>
<% end %>


<div>
  <p>コメント件数：<%= @diary.post_comments.count %></p>
  <% @diary.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    <%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to user_diary_post_comment_path(user_id: current_user, diary_id: @diary, id: post_comment), method: :delete do %>
      コメントを削除
      <% end %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@diary, @post_comment], url: user_diary_post_comments_path(user_id: @diary.user, diary_id: @diary) do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>