<div class="row">
  <div class="col-lg-4">
    <div class="col-lg-12">
      <%= render 'layouts/user_info' %>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="row border border-secondary p-2">

      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-1 p-0">
            <%= link_to user_path(id: @user) do %>
              <%= image_tag @user.get_profile_image(50, 50) %>
            <% end %>
          </div>
          <div class="col-4 p-0" style="text-decoration:underline;">
            <%= link_to user_path(id: @user) do %>
              <%= @user.name %><br>
            <% end %>
            <%= @diary.date %>
          </div>
          <div class="col-7 text-right">
            <% @diary.tag_list.each do |tag| %>
              <%= link_to user_path(id: @user, tag_name: tag, filtered_by_tag: true), class: 'btn btn-secondary' do  %>
                <%= tag %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

        <div class="col-12">
          <div class="row justify-content-center">
            タイトル：<%= @diary.title %>
          </div>
          <div class="row justify-content-center">
            楽器：<%= @diary.instrument.name %>
          </div>

          <div class="row">
            <% if @diary.diary_image.attached? %>
              <%= image_tag @diary.get_diary_image(100, 100) %>
            <% end %>
          </div>
          <div class="row">
            <%= @diary.text %>
          </div>
          <div class="row justify-content-end">
            <% if @user == current_user %>
              <%= link_to edit_user_diary_path(user_id: current_user, id: @diary), class: 'btn btn-secondary' do %>
                編集する
              <% end %>
            <% end %>
          </div>

        </div>
    </div>


    <div class="row mt-2 justify-content-end">
      <% if @diary.favorited_by?(current_user) %>
      <p>
        <%= link_to user_diary_favorite_path(user_id: @user, diary_id: @diary), method: :delete do %>
        ♥<%= @diary.favorites.count %> <i class="fas fa-thumbs-up"></i>
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to user_diary_favorite_path(user_id: @user, diary_id: @diary), method: :post do %>
        ♡<%= @diary.favorites.count %> <i class="fas fa-thumbs-up"></i>
        <% end %>
      </p>
      <% end %>
    </div>

    <div class="row justify-content-end">
      <div class="col-12">
        <%= form_with model: [@diary, @post_comment], url: user_diary_post_comments_path(user_id: @diary.user, diary_id: @diary) do |f| %>
          <div class="row">
            <div class="col-12">
              <%= f.text_area :comment, rows: '2', placeholder: "コメントをここに", class: "form-control" %>
              <%= f.submit "コメントする", class: "btn btn-primary btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

<% if @diary.post_comments.present? %>
    <div class="row border border-secondary p-2 mt-2">
      <% @diary.post_comments.each do |post_comment| %>
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-1 p-0">
            <%= link_to user_path(id: @user) do %>
                <%= image_tag post_comment.user.get_profile_image(50,50) %>
            <% end %>
          </div>
          <div class="col-4 p-0" style="text-decoration:underline;">
            <%= link_to user_path(id: @user) do %>
              <% if @user == current_user %>
                （自分）<%= post_comment.user.name %><br>
                <% else %>
                <%= post_comment.user.name %><br>
                <% end %>
              <% end %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class="col-7 text-right">
            <%= post_comment.comment %>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <% if post_comment.user == current_user %>
            <%= link_to user_diary_post_comment_path(user_id: @user, diary_id: @diary, id: post_comment), method: :delete, class: "btn btn-danger" do %>
              削除
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
