<div class="row">
  <div class="col-4">
    <div class="col-12">
      <%= render 'shared/user_info' %>
    </div>
  </div>

  <div class="col-8">
    <!--日誌詳細-->
    <div class="row border border-secondary p-2">
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-1 p-0">
            <%= link_to user_path(id: @user) do %>
              <%= image_tag @user.get_profile_image(50, 50) %>
            <% end %>
          </div>
          <div class="col-4 p-0" style="text-decoration:underline;">
            <%= link_to user_path(id: @user) do %>
              <%= @user.name %><br>
            <% end %>
            <%= @diary.date %>
          </div>
          <div class="col-7 text-right">
            <% @diary.tag_list.each do |tag| %>
              <%= link_to user_path(id: @user, tag_name: tag, filtered_by_tag: true), class: 'btn btn-secondary' do  %>
                <%= tag %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row justify-content-center">
          タイトル：<%= @diary.title %>
        </div>
        <div class="row justify-content-center">
          楽器：<%= @diary.instrument.name %>
        </div>

        <div class="row">
          <%= display_diary_image(@diary, 100, 100) %>
        </div>
        <div class="row">
          <%= @diary.text %>
        </div>
        <div class="row justify-content-end">
          <%= edit_diary_link(@diary) %>
        </div>
      </div>
    </div>
    <!--いいねボタン/いいねカウント-->
    <div class="row mt-2 justify-content-end">
      <%= favorite_diary_link(@diary, @user) %>
    </div>
    <!--コメント欄-->
    <div class="row justify-content-end">
      <div class="col-12">
        <%= form_with model: [@diary, @post_comment], url: user_diary_post_comments_path(user_id: @diary.user, diary_id: @diary) do |f| %>
          <div class="row mb-2">
            <div class="col-12">
              <%= f.text_area :comment, rows: '2', placeholder: "コメントをここに", class: "form-control" %>
              <%= f.submit "コメントする", class: "btn btn-primary btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!--コメント表示-->
    <% if @diary.post_comments.present? %>
      <% @diary.post_comments.each do |post_comment| %>
        <div class="card border-secondary mb-2">
          <div class="card-body">
            <div class="d-flex">
              <div class="col-1 p-0">
                <%= link_to user_path(id: post_comment.user.id) do %>
                  <%= image_tag post_comment.user.get_profile_image(50,50) %>
                <% end %>
              </div>
              <div class="col-8 p-0" style="text-decoration:underline;">
                <%= user_comment_link(post_comment, current_user) %>
                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
              </div>
              <div class="ml-4">
                <%= delete_comment_link(post_comment, current_user, @user, @diary) %>
              </div>
            </div>
            <div class="text-right font-weight-bold">
              <%= post_comment.comment %>
            </div>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
