<h3><%= @user.goal %></h3>
<%= flash[:notice] %>
<div>
　<%= image_tag @user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>profile</th>
        <th><%= @user.profile %></th>
      </tr>
    </tbody>
  </table>
</div>

  <div class="row">
       <%= link_to edit_user_path(current_user) do %>
          <button type="button" class="btn btn-outline-secondary btn-block link-secondary"><i class="fas fa-user-cog"></i>
       <% end %>
       <%= link_to new_user_instrument_path(current_user.id) do %>
          <button type="button" class="btn btn-outline-secondary btn-block link-secondary"><i class="fas fa-user-cog"></i>
       <% end %>
  </div>
<% if @instrument.present? %>
  <% @instrument.each do |instrument| %>
    <%= link_to user_instrument_path(user_id: instrument.user_id, id: instrument.id) do %>
      <%= image_tag instrument.get_instrument_image(100,100) %>
      <%= instrument.name %>
    <% end %>
  <% end %>
  <% else %>
  <p>表示するデータがありません。</p>
<% end %>

<div class="row">
  <%= link_to new_user_diary_path(current_user.id) do %>
    <button type="button" class="btn btn-outline-secondary btn-block link-secondary"><i class="fas fa-user-cog"></i>
  <% end %>
</div>

<% if @tag_list.present? %>
  <% @tag_list.each do |list|%>
    <%=link_to list.name,search_tag_path(tag_id: list.id) %>
    <%="(#{list.diaries.count})" %>
  <% end %>
<% else %>
  <p>表示するデータがありません。</p>
<% end %>

<% if @diaries.present? %>
  <% @diaries.each do |diary| %>
    <%= link_to user_diary_path(user_id: diary.user_id, id: diary_id) do %>
      <%= diary.tags.map(&:name).join(', ') %>
      <% if diary.diary_image.present? %>
        <%= image_tag diary.get_diary_image(100,100) %>
      <% end %>
      <%= diary.date %>
      <%= diary.title %>
      <%= diary.text %>
    <% end %>
  <% end %>
  <% else %>
  <p>表示するデータがありません。</p>
<% end %>