<div class="container">

<div class="row justify-content-center">
    <h3><%= @user.goal %></h3>
    <!--%= flash[:notice] %>-->
</div>

<div class="row">
  <div class="col-lg-4">
<div class="col-lg-12">
　<%= image_tag @user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>profile</th>
        <th><%= @user.profile %></th>
      </tr>
    </tbody>
  </table>

<% if @user == @current_user %>
<div class="row">
  <div class="col-6">
    <%= link_to edit_user_path(@user) do %>
      <button type="button" class="btn btn-secondary link-secondary w-100 bg-gray">
        <i class="fas fa-user" style="color: white;"></i>
      </button>
    <% end %>
  </div>
  <div class="col-6 mx-n4">
    <%= link_to new_user_instrument_path(current_user.id) do %>
      <button type="button" class="btn btn-secondary link-secondary w-100 bg-gray">
        <i class="fas fa-guitar" style="color: white;"></i>
      </button>
    <% end %>
  </div>
</div>
<% end %>

<% if @instrument.present? %>
  <ul style="list-style-type: none;" class="p-0 mt-2">
    <% @instrument.each do |instrument| %>
      <li class="m-1">
        <div class="row">
          <div class="col-4">
            <%= link_to user_instrument_path(user_id: instrument.user_id, id: instrument.id) do %>
              <%= image_tag instrument.get_instrument_image(100, 100) %>
            <% end %>
          </div>
          <div class="col-8">
            <%= link_to user_instrument_path(user_id: instrument.user_id, id: instrument.id) do %>
              <%= instrument.name %>
            <% end %>
            <% if instrument.logs.present? %>
              <% latest_log = instrument.logs.last %>
              <div class="mt-1">
              <%= latest_log.created_at.strftime('%m/%d') %><br>
              <%= truncate(latest_log.log, length: 10) %>
              </div>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>表示するデータがありません。</p>
<% end %>

</div>
</div>

<div class="col-lg-8">
<div class="row">
    <div class= "col-12">
      <div class="d-flex align-items-center justify-content-between">
        <h2 class="m-0">日誌</h2>
        <% if @user == @current_user %>
          <%= link_to new_user_diary_path(@user) do %>
          <button type="button" class="btn btn-secondary link-secondary bg-gray"><i class="fas fa-plus" style="color: white;"></i>
          <% end %>
        <% end %>
     </div>
      <table class="table table-hover">
       <thead>
           <tr>
            <th></th>
            <th class="text-center">楽器</th>
            <th class="text-center">日付</th>
            <th class="text-center">タグ</th>
            <th class="text-center">タイトル</th>
            <th></th>
           </tr>
       </thead>
        <tbody>
        <% @diaries.each do |diary| %>
           <tr>
               <td>
                  <% if diary.diary_image.attached? %>
                      <%= image_tag diary.get_diary_image(50, 50) %>
                      <% else %>
                  <% end %>
               </td>
               <td>
                 <%= link_to user_instrument_path(user_id: diary.user_id, id: diary.instrument.id) do %>
                   <%= diary.instrument.name %>
                 <% end %>
                </td>
               <td><%= diary.date %></td>
               <td>
                  <% diary.tag_list.each do |tag|%>
                  <div class="btn btn-primary">
                  <%= link_to tag, user_path(id: @user, tag_name: tag, filtered_by_tag: true), class: "text-white" %>
                  </div>
                  <% end %>
               </td>
               <td>
                 <%= link_to user_diary_path(user_id: diary.user_id, id: diary.id) do %>
                   <%=truncate(diary.title, length: 20)%>
                 <% end %>
                </td>
               <td>
                 <% if diary.post_comments.present? %>
                   <%= "#{diary.post_comments.count} コメント" %>
                 <% end %>
                 <% if diary.favorites.present? %>
                   <%= diary.favorites.count %> <i class="fas fa-thumbs-up"></i>
                 <% end %>
               </td>
           </tr>
        <% end %>
       </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>