<li class="d-flex">
  <%= link_to _path, class: "btn btn-outline-secondary mr-4" do %>
    ユーザー
  <% end %>
</li>
<li class="d-flex">
  <%= link_to  _path, class: "btn btn-outline-secondary mr-4" do %>
    コミュニティ
  <% end %>
</li>
<li class="d-flex">
  <%= link_to _path, class: "btn btn-outline-secondary mr-4" do %>
    日誌
  <% end %>
</li>
<li class="d-flex">
  <%= link_to _path, class: "btn btn-outline-secondary mr-4" do %>
    コメント
  <% end %>
</li>
<li class="d-flex">
  <%= link_to destroy_admin_session, method: :delete, class: "btn btn-outline-secondary" do %>
    ログアウト
  <% end %>
</li>
