<header class="border-bottom border-dark">

  <div class="navbar navbar-expand-lg navbar-light">
    <div class="container">

      <div class="col-5" style="right:100px;">
      <a class="navbar-brand" href="/" %><%= image_tag 'default_image.jpg', size: "280x70" %></a>
      </div>
      <div class="col-4" style="right:100px;">

      <div class="col-4 mt-1">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-end">
              <% if admin_signed_in? %>
                <%= render 'layouts/admin_header' %>
              <% elsif user_signed_in? %>
                <li class="d-flex mr-4">
                  <%= link_to user_path(current_user), class: "btn btn-outline-secondary" do %>
                    マイページ
                  <% end %>
                </li>
                <li class="d-flex mr-4">
                  <%= link_to user_logs_path(current_user), class: "btn btn-outline-secondary" do %>
                    管理ログ
                  <% end %>
                </li>
                <li class="d-flex mr-4">
                  <%= link_to user_diaries_path(current_user), class: "btn btn-outline-secondary" do %>
                    日誌
                  <% end %>
                </li>
                <li class="d-flex mr-4">
                  <%= link_to user_groups_path(current_user), class: "btn btn-outline-secondary" do %>
                    グループ
                  <% end %>
                </li>
                <li class="d-flex">
                  <%= link_to logout_path, method: :delete, class: "btn btn-outline-secondary" do %>
                    ログアウト
                  <% end %>
                </li>
              <% else %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
